@charset "UTF-8";
	#wrap{ 
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	} 

	header{width:100%; height:25%;
		background-color:skyblue;}

	/* nav{width:800px;height:70px;
		background-color:green;} */
	
	nav{float:left; width:20%; height:50%;
		background-color:orange;}

	main{float:left; width:80%; height:50%;
		background-color:yellow;}

	footer{clear:left; width:100%; height:25%;
		background-color:grey;}